/* MEDIA QUERY XS > 552PX */

@media screen and (min-width:552px) {
    
/* la sidebar si restringe */
.sidebar {
    flex-basis: 210px;
    padding: 0 15px;
}

}

/* ridimensionamento sidebar TOP */

.nav-top {
    flex-basis: 45vh;
}

.nav-top .nav-btn {
    height: 30%;
}

/* appare la playlist nella sidebar */
.nav-top .nav-list {
    display: block;
}

/* ridimensionamento barra inferiore */

.bar.bar-small {
    flex-basis: 200px;
}

.bar.bar-big{
    flex-basis: 40%;
}

/* -----------MEDIA QUERY S > 639PX--------- */
@media screen and (min-width:639px) {

}


/* -----------MEDIA QUERY M > 878PX--------- */

@media screen and (min-width:878px) {

}