/* MEDIA QUERY XS > 552PX */

@media screen and (min-width:552px) {
    
/* la sidebar si allarga */
.sidebar {
    flex-basis: 210px;
    padding: 0 15px;
}

/* ridimensionamento sidebar TOP */

.nav-top .nav-btn {
    height: 30%;
}

/* appare la playlist nella sidebar */
.nav-top .nav-list {
    display: block;
}

/* ridimensionamento barra inferiore */

.bar.bar-small {
    flex-basis: 200px;
}

.bar.bar-big{
    flex-basis: 40%;
}

/* classi visibilità */

.d-s-flex {
    display: flex;
}

.d-s-none {
    display: none;
}

.d-s-block {
    display: block;
}

.d-s-inline {
    display: inline;
}

/* spaziatura */
.mb-15-s {
    margin-bottom: 15px;
}

/* allineamento icona installazione a sinistra e nome al centro */

.well
{
    text-align: left;
}

.bot-well 
{
    align-items: center;
}

}

/* -----------MEDIA QUERY S > 639PX--------- */
@media screen and (min-width:639px) {

 /* aumenta la grandezza titolo sezioni */
 h2 {
    font-size: 26px;  }
 

/* aumenta lo spazio tra testo ed icone */
.bar > .bar-text {
    margin-right: 30px;
    }      

/* aumenta la dimensione delle icone sulla barra destra */
.bar-right-icons {
    font-size: 14px;
    flex-basis: 35%;
     
}

/* aumento gap button mid bar bottom */
.button-icons {
    gap: 20px;
}

}


/* -----------MEDIA QUERY M > 878PX--------- */

@media screen and (min-width:878px) {

/* ridimensionamento card main */

.col {
    flex-basis: calc(25% - 3rem /4);
}

/* aumento gap button mid bar bottom */
.button-icons {
    gap: 25px;
}
}

/* -----------MEDIA QUERY L > 1440PX--------- */

@media screen and (min-width:1440px) {

/* ridimensionamento card main */    

.col {
    flex-basis: calc(100% / 6 - 5rem /6);  
}

.nav-link {
    gap: 35px;
  
}

/* aumento gap button mid bar bottom */
.button-icons {
    gap: 30px;
}
    

}