/* MEDIA QUERY XS > 552PX */

@media screen and (min-width:552px) {
    
/* la sidebar si allarga */
.sidebar {
    flex-basis: 210px;
    padding: 0 15px;
}

/* ridimensionamento sidebar TOP */

.nav-top {
    flex-basis: 45vh;
}

.nav-top .nav-btn {
    height: 30%;
}

/* appare la playlist nella sidebar */
.nav-top .nav-list {
    display: block;
}

/* ridimensionamento barra inferiore */

.bar.bar-small {
    flex-basis: 200px;
}

.bar.bar-big{
    flex-basis: 40%;
}

}

/* -----------MEDIA QUERY S > 639PX--------- */
@media screen and (min-width:639px) {

 /* aumenta la grandezza titolo sezioni */
 h2 {
    font-size: 26px;  }
 

/* aumenta lo spazio tra testo ed icone */
.bar > .bar-text {
    margin-right: 30px;
    }      

}


/* -----------MEDIA QUERY M > 878PX--------- */

@media screen and (min-width:878px) {

/* ridimensionamento card main */

.col {
    flex-basis: calc(25% - 3rem /4);
}

}

/* -----------MEDIA QUERY L > 1440PX--------- */

@media screen and (min-width:1440px) {

/* ridimensionamento card main */    

.col {
    flex-basis: calc(100% / 6 - 5rem /6);  
}

.nav-link {
    gap: 35px;
  
}
    
}