/* Custom Properties */
:root {
    --gray: #545454;
}


/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

body{
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

/* Utilities */

.container{
    max-width: 1080px;
    margin: 0 auto;
}

/* upper body */
.top {
    display: flex;
    color: #000;
}

/* barra inferiore */
.bottom footer {    
    height: 120px;
    background-color: chartreuse;
}

/* sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 120px);
    background-color: aqua;
    overflow: auto;
    flex-basis: 50px;
    flex-shrink: 0;
}

/* Sidebar TOP */
.nav-top {
    background-color: cornflowerblue;
    flex-basis: 20vh;
}

/* Pulsanti navigazione */
.nav-btn {
    height: 100%;
    background-color: bisque;
    display: block;
}

/* playlist */
.nav-list {
    background-color: brown;
    height: 70%;
    display: none;
}

/* Sidebar BOTTOM */
.nav-bottom {
    flex-basis: 10vh;
    background-color: darkblue;
}

/* contenuto principale */
.main-content {
    height: calc(100vh - 120px);
    background-color: rgb(221, 210, 228);
    overflow: auto;
    color: #000;
    position: relative;
}

/* header */
header {
    height: 120px;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
}