/* Custom Properties */
:root {
    --gray: #545454;
    --lgray: #949499;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

body{
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--lgray);
}

h2 {
    margin-bottom: 10px;
}

h5 {
    color: var(--lgray);
}


.main-content section {
    margin-bottom: 35px;
}

section > .row {
    margin-top: 35px;
}

/* Utilities */
.prov-br {
    border: 1px dashed #fff;
}

.main-clr {
    color: var(--gray);
}

img {
    max-width: 100%;
    display: block;
}

/* spacing*/

.mr-l5 {
    margin-left: 5px;
}

.mb-10-xs {
    margin-bottom: 10px;
}

/* classi visibilità */

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

/* ---------UPPER BODY----------- */

.top {
    display: flex;
    height: calc(100vh - 120px);
    overflow: auto;
}

/* contenuto principale */
.main-content {
    flex-basis: 100%;
    background-color:#141922;
    height: calc(100vh - 120px);
    overflow: auto;
    position: relative;
}

/* header */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
}

.upgrade-btn {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 28px;
    margin-right: 15px;
}

.upgrade-btn:hover {
    transform: scale(1.2);
    margin-right: 25px;
}

.upgrade-btn a {
    color: #fff;
}

/* main navigation  */

.nav-link{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
    font-size: 14px;
}

.nav-link a {
    font-weight: 600;
}

.nav-link a:hover  {
    color: #fff;
}

.main-page {
    padding: 15px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 2rem;
}

.col {
flex-basis: calc(50% - 1rem /2);
}

.card {
    cursor: pointer;
}

.card-img {
position: relative;
}

.card-img .play {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.card:hover .play{
    display: flex;
}

.card-text {
    text-align: center;
    padding: 15px;
}

#popolari .card-img img{
    border-radius: 50%;
}

.card-text h4 {
    margin-bottom: 10px;
}

/* ------------SIDEBAR---------- */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    height: calc(100vh - 120px);
    overflow: auto;
    background-color: #000;
    flex-basis: 50px;
    padding: 0 6px;
}

.sidebar span {
    font-weight: 600;
}

/* Sidebar TOP */
.nav-top {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}

/* Pulsanti navigazione */
.nav-btn {
    height: 100%;
    display: block;
    padding: 5px 0;
}

.nav-btn a{
    color: var(--gray);
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.nav-icons:hover a {
    color: #fff;
}

.nav-icons .logo {
    width: 80%;
}

.nav-icons img{
    width: 30px;

}

/* playlist */
.nav-top .nav-list {
    height: 75%;    
}

.add-list i {
    color: #000;
    height: 32px;
    width: 32px;
    background-color: var(--lgray);
    text-align: center;
    padding: 8px;
}

.add-list > span {
    font-size: 16px;
}

ul.mb-10-xs li {
    font-size: 14px;
    margin-bottom: 10px;
}

.nav-list span:hover  {
    color: #fff;
    cursor: pointer;
}

.add-list:hover i{
    background-color: #fff;
}

/* SIDEBAR bottom  */
.nav-bottom {
    flex-basis: 10vh;
}

.well {
    padding: 5px;
    text-align: center;
}

.bot-well .profile {
    background-color: var(--lgray);   
    height: 26px; 
    width: 26px;
    border-radius: 50%;
}

.username {
    margin-left: 5px;
    font-size: 14px;
}

.top-well:hover a{
    color: #fff;
}


/* --------BARRA INFERIORE--------*/

.bottom footer {    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding: 10px;
    background-color: #282828;
}

.bar {
    height:100%;
}

.bar.bar-big {
    flex-basis: 35%;
}

.bar.bar-small {
    flex-basis: 30%;
    display: flex;
    height: 100%;
    padding: 5px;
    align-items: center;
}

/* barra sinistra  */
.bar-img {
    max-height: 100%;
    flex-basis: 25%;
    margin-right: 5px;
}

.bar-text {
    font-size: 12px;
    margin-right: 20px;
}

.bar-text:hover h5 {
    text-decoration: underline;
    cursor: pointer;
}

.bar-left-icons{
    color: var(--gray);
    text-align: center;
}

.bar-left-icons i:hover {
    color: var(--lgray);
}

/* barra destra */
.bar-small.right-bar{
justify-content: space-between;
}

.bar-right-icons {
    color: #fff;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    flex-basis: 35%;
 
}

.bar .prog-bar {
    height: 4px;
    flex-basis: 60%;
    background-color: var(--gray);
    border-radius: 50px;
}
.prog-bar >.prog-bar-inner  {
    height: 4px;
    width: 20%;
    background-color:lightgray;
    border-radius: 50px;
}


.prog-bar:hover .green{
    display: block;
}

/* barra centrale */

.time-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
}

.time-bar .prog-bar {
    flex-basis: 85%;
}

.button-icons {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    gap: 15px;
}

.button-icons:hover .fa-circle-play {
    transform: scale(1.2);
}

/* barra interna verde */
.prog-bar-inner > .green  {
    height: 4px;
    width: 100%;
    background-color:yellowgreen;
    border-radius: 50px;
    position: relative;
}

.prog-bar-inner > .green.dot::after {
    content: '';
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--lgray);
    position: absolute;
    right: 0;
    top: -5px;
}
/* active class */

.nav-link li.active::after{
    content: '';
    display: block;
    width:35%;
    height: 2px;
    background-color: yellowgreen;
    margin: 2px auto;
}

.nav-icons.active::before {
    content: '';
    display: block;
    height: 30px;
    border-left: 3px solid yellowgreen;
    position: absolute;
    left: 0;
    
}

